<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    {{!-- Load partial --}}
    <div style="text-align: center;" class="main-content">
        {{>header}}
        <a href="https://www.facebook.com/nachanon.montikanon/"><h1>Facebook: JJ Natchanon</h1></a>
        <img style="width: 50%;" src="https://facebookbrand.com/wp-content/uploads/2019/04/f_logo_RGB-Hex-Blue_512.png?w=512&h=512" alt="pic">
    </div>

    {{>footer}}
</body>

</html>